@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap);@charset "UTF-8";

/** font-family: 'PT Sans Narrow', sans-serif */

/*
 * Container style
 */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */

.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.container-table100 {
  margin-top: 50px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1px;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border: 1px solid #46D5EB;
}

table * {
  position: relative;
}

table td,
table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: #3595D4;
}

table tbody tr {
  height: 50px;
}

table tbody tr:last-child {
  border: 0;
}

table td,
table th {
  text-align: left;
}

table td.l,
table th.l {
  text-align: right;
}

table td.c,
table th.c {
  text-align: center;
}

table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 245px;
}

.column3 {
  width: 160px;
}

.column4 {
  width: 110px;
  text-align: center;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }

  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }

  table thead {
    display: none;
  }

  table tbody tr {
    height: auto;
    padding: 37px 0;
  }

  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }

  table tbody tr td:last-child {
    margin-bottom: 0;
  }

  table tbody tr td:before {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 12px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  table tbody tr td:nth-child(1):before {
    content: "Nome";
  }

  table tbody tr td:nth-child(2):before {
    content: "Telefone";
  }

  table tbody tr td:nth-child(3):before {
    content: "Operadora";
  }

  table tbody tr td:nth-child(4):before {
    content: "A\E7\E3o";
  }

  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }

  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column1,
  .column2,
  .column3,
  .column4 {
    width: 100%;
    text-align: left;
    font-size: 15px;
  }

  .column4::before {
    line-height: 50px;
  }

  .column1::before,
  .column2::before,
  .column3::before,
  .column4::before {
    text-align: left;
    font-size: 20px;
  }

  tbody tr {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.jquery-msgbox {
  background: url(/images/background.png?cf3f8cca93b77d17759bd691fffb1c29) repeat-x left bottom;
  padding-bottom: 55px;
}

.jquery-msgbox-text {
  font-size: 16px;
}

.jquery-msgbox-wrapper {
  padding: 20px 20px 20px 100px;
}

.jquery-msgbox-buttons {
  padding: 15px;
  text-align: right;
  position: absolute;
  bottom: 0;
  top: 70px;
  right: 0;
}

.jquery-msgbox-buttons button,
.jquery-msgbox-buttons input {
  margin-left: 10px;
  min-width: 85px;
  cursor: pointer;
}

.jquery-msgbox-inputs {
  margin-top: 4px;
}

.jquery-msgbox-inputs input {
  display: block;
  padding: 3px 2px;
  border: 1px solid #dddddd;
  margin: 3px 0 6px 0;
  width: 95%;
}

.jquery-msgbox-label {
  font-weight: bold;
  font-size: 11px;
}

.jquery-msgbox-alert {
  background: url(/images/alert.png?8cad705acf2d59a7b3d3faf0fd625fdc) no-repeat 20px 20px;
}

.jquery-msgbox-info {
  background: url(/images/info.png?a213cb64cad211b0625d4447ea6d2331) no-repeat 20px 20px;
}

.jquery-msgbox-error {
  background: url(/images/error.png?1533a4c4e36457f7348fa4f23e1abdc5) no-repeat 20px 20px;
}

.jquery-msgbox-prompt {
  background: url(/images/question.png?ead27e725e2abd3b03d19e21fc5b5bbc) no-repeat 20px 20px;
}

.jquery-msgbox-confirm {
  background: url(/images/confirm.png?ef0e5e483694c9c1460ac05b3a39ba74) no-repeat 20px 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

div {
  position: relative;
  box-sizing: border-box;
}

.load-page-background {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 100;
}

.load-page-background h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.load-tabela {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.load-tabela h1 {
  color: white;
  text-align: center;
  width: 100%;
}

.load-tabela .img-load-tabela {
  text-align: center;
  width: 100px;
}

.img-load-form {
  width: 30px;
  height: 30px;
}

.btn-azul {
  background-color: #3595D4;
  border: 1px solid #3595D4;
  color: white;
}

.btn-azul:hover {
  background-color: #46D5EB;
  border: 1px solid #46D5EB;
  color: white;
}

.btn-outline-azverde {
  background-color: white;
  border: 1px solid #35D4BD;
  color: #35D4BD;
}

.btn-outline-azverde:hover {
  background-color: #35D4BD;
  border: 1px solid #35D4BD;
  color: white;
}

div.fildset {
  border: 3px solid #3595D4;
  padding: 10px;
}

div.fildset h4.fildset-title {
  position: absolute;
  background-color: #fff;
  padding: 5px;
  top: -20px;
  left: 10px;
}

a#opcao-adicionar,
a#opcao-filtrar {
  width: 200px;
}

a#opcao-adicionar {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a#opcao-filtrar {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

a.opcao-selecionada {
  background-color: #35D4BD;
  border: 1px solid #35D4BD;
  color: white;
}

